<div><h3 style="text-align: center;">Add Employee</h3></div>
<div class="col-md-6">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="book_title" style="margin-left: 40%;">Title</label>
        <input type="name" [(ngModel)]="book.book_title" name="name" class="form-control" id="name">
      </div>
      <br>    
      <div class="form-group">
        <label for="book_author" style="margin-left: 40%;">Author</label>
        <input [(ngModel)]="book.book_author" name="designation" class="form-control" id="designation">
      </div>
      <br>
      <div class="form-group">
        <label for="book_price" style="margin-left: 40%;">price</label>
        <input [(ngModel)]="book.book_price" name="Employee Id" class="form-control" id="employeeid">
      </div>
      <br>
      <button style="margin-left: 40%;" type="submit" class="btn btn-success">Create</button>
    </form>
    </div>
    <div><strong>{{bookadded}}</strong></div>
        