<mat-card class="example-card" style="text-align: center;">
	<mat-card-title>
		Add Book
	</mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="book_title">Title</label>
        <input type="name" [(ngModel)]="book.book_title" name="name" class="form-control" id="name">
      </div>
      <br>    
      <div class="form-group">
        <label for="book_author">Author</label>
        <input [(ngModel)]="book.book_author" name="designation" class="form-control" id="designation">
      </div>
      <br>
      <div class="form-group">
        <label for="book_price">price</label>
        <input [(ngModel)]="book.book_price" name="Employee Id" class="form-control" id="employeeid">
      </div>
      <br>
      <div class="form-group" >
        <label for="book_price">Add Image</label>
        <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

      </div>
      <br>
    
      <button type="submit" class="btn btn-success">Create</button>
    </form>


  </mat-card-content>
    <div><strong>{{bookadded}}</strong></div>
        