<mat-card class="example-card" *ngFor="let b of books">
  <mat-card-header>
    <mat-card-title>Title: {{b.book_title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Author : {{b.book_author}}</p>
    <p>Price : {{b.book_price}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="material-icons" (click)="addwishlist.addtoWishList(b.book_id)"><span>
      favorite_border</span></button>
      <app-addwishlist #addwishlist></app-addwishlist>
    <button class="material-icons" (click)="deleteItem(b.book_id)">
        delete_outline</button>
    <button class="material-icons" [routerLink]="['/updateDetails',b.book_id]" routerLinkActive="active">
        edit
    </button>
    <button mat-button>Add To Cart</button>
  </mat-card-actions>
</mat-card>