.example-spacer {
    flex: 1 1 auto;
  }

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

table {
    width: 50%;
}

.example-label{
  margin-left: 70px;
}

.wish{
  margin-left: 800px;
  border: none;
  background-color: darkslateblue;
}

.cart{
  margin-left: 10px;
  border: none;
  background-color: darkslateblue;
}