<div class="row" style="max-width: 100%;">
    <div style="margin-left: 300px; margin-top: 50px;">
    <h1 class="hometext">
    READ</h1><br>
    <h1 class="hometext1" style="color: royalblue;">
   WITHOUT
    </h1><br>
    <h1 class="hometext2">
    LIMITS
   </h1><br>
   <h3>Unlimited books only @Bookart*</h3>
</div>
   <div>
    <img src="assets/affiliate_devices.png" alt="Girl in a jacket" width="400" height="400" style="margin-left: 150px; margin-bottom: 30px;margin-top: 50px;"/>
   </div>
</div>

