<!-- <mat-radio-group aria-label="Select an option">
	<mat-radio-button class="example-radio-button" *ngFor="let c of checkout" [value]="c.firstName">{{c.firstName}}</mat-radio-button>
  </mat-radio-group> -->
  <mat-card>selected Products
	<mat-card-content *ngFor="let p of productArray">
		<img src="data:image/png;base64,{{p.cart_bookimage}}" class="img-responsive" height="100px" width="100px" alt="Image"><br>
	  <strong>{{p?.cart_bookname}},{{p.cart_bookauthor}}</strong><br>
	  <strong>{{p?.cart_bookprice}}</strong>
  
  </mat-card-content>
  </mat-card>

  <h3 id="example-radio-group-label" style="margin-left: 25px;margin-top: 20px;"><strong>Recently added address</strong></h3>
<mat-radio-group class="asCard"
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason" style="margin-left: 25px;">
  <mat-radio-button class="example-radio-button" *ngFor="let c of checkout" [value]="c.id">
    <mat-card fxLayout="row wrap">
		<mat-card-content>
			<h3>{{c.firstName}}</h3>
			<h3>{{c.emailid}}</h3>
			<h3>{{c.address}}</h3>
			<h3>{{c.pincode}}</h3>
			<h3>{{c.city}},{{c.state}}</h3>
</mat-card-content>
	</mat-card>
  </mat-radio-button>
</mat-radio-group>
<br>
<button mat-raised-button reviewbutton style="display: inline;margin-left: 0.5%;background-color: #ffd700; margin-left: 35px; margin-top: 20px;" (click)="changeRoute()"><strong>Delivery to this address</strong></button>
<button mat-raised-button reviewbutton style="display: inline;margin-left: 50px; margin-top: 20px;" (click)="addnewAddressPreserveParam()"><strong>Add New Address</strong></button>
<div>Your favorite season is: {{favoriteSeason}}</div>

  <!-- <div class="example-container">
	<form class="example-container">
		<div>
			<label>Pick one</label>
			<mat-radio-group class="asCard" aria-labelledby="example-radio-group-label"
			class="example-radio-group" [(ngModel)]="favoriteSeason">
				<mat-radio-button class="example-radio-button" *ngFor="let c of checkout" [value]="c.id">
					<mat-card>
						<mat-card-content>
							<h3>{{c.firstName}}</h3>
							<h3>{{c.emailid}}</h3>
							<h3>{{c.address}}</h3>
							<h3>{{c.pincode}}</h3>
							<h3>{{c.city}},{{c.state}}</h3>
            </mat-card-content>
					</mat-card>
				</mat-radio-button>
			</mat-radio-group>
			<button mat-raised-button reviewbutton style="display: inline;margin-left: 0.5%;background-color: #ffd700;" (click)="changeRoute()"><strong>Delivery to this address</strong></button>
			<button mat-raised-button reviewbutton style="display: inline;margin-left: 0.5%;" [routerLink]="['/checkout']" routerLinkActive="active"><strong>Add New Address</strong></button>
		</div>
	</form>

	<pre>selected: {{favoriteSeason}}</pre>
</div> -->